<div>
    <div>

{{#each comment}}
<div >
    <div class="card" >
        <h2>{{id}}</h2>
       
        <div class = "card-body" style="background-color:rgba(120, 122, 179, 0.789);
  border-style:solid;">
            <p>
                
                <ul> {{comment}}</ul>

            </p>
        </div>
       
    </div>
{{/each}}

</div>

</div>