<div >
    <div class="card" >
        <h2>{{title}}</h2>
       
        <div class = "card-body" style="background-color:rgba(120, 122, 179, 0.789);
  border-style:solid;">
            <p>
                
                <ul> {{post}}</ul>
               

            </p>
        </div>
       
    </div>
    <div class='add-comment-container'>
    <h2>
      Add a comment
    </h2>
    <form class='new-comment-form'>
      <label for='comment'>
        Comment Content:
      </label>
      <br />
      <textarea id='comment' name='comment' rows='5' cols='30'>
        {{comment}}
      </textarea>
      <br />
     
      <button type='submit' value='submit'>
        Submit
      </button>
    </form>
   
  </div class = "card">

  <div>
     {{#each comments}}
     <div class = "card-body" style="background-color:rgba(120, 122, 179, 0.789);
  border-style:solid;">
                <ul>{{comment}}</ul>
             </div>   
                {{/each}}
</div>
              
  

  
</div>

<script src='/js/add-comment.js'> </script>