<div>
    <div>
        <h2>All posts</h2>
       
        <div>
            <p>
                <ul> {{title}}</ul>
                <ul> {{post}}</ul>

            </p>
        </div>
       
    </div>
</div>