<div class='add-post-container'>
    <h2>
      Add a post
    </h2>
    <form class='new-post-form'>
      <label for='title'>
        Title:
      </label>
      <br />
      <textarea id='title' name='title' rows='2' cols='30'>
        {{title}}
      </textarea>
      <br />
      <label for='post'>
        Post Content:
      </label>
      <br />
      <textarea id='post' name='post' rows='5' cols='30'>
        {{post}}
      </textarea>
      <br />
     
      <button type='submit' value='submit'>
        Submit
      </button>
    </form>
  </div>

  <script src='/js/add-post.js'> </script>